body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    margin: 20px;
    display: inline-block;
}

#board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    width: 23%;
    background-color: #e3e4e8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
