body {
    font-family: Arial, sans-serif;
}

.kanban-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.button-container {
    margin-bottom: 20px;
}

.kanban-board-wrapper {
    display: flex;
    overflow-x: auto;
    max-width: 150%;
}

.kanban-board {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.kanban-column {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 350px; /* Increased width */
    max-width: 350px; /* Increased width */
    height: 80vh; /* Adjust the height to make columns taller */
    display: flex;
    flex-direction: column;
}

.kanban-column-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background-color: #007bff; /* Background color */
    color: white; /* Text color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: none; /* Remove border */
    width: 100%;
    cursor: pointer;
}

.kanban-column-body {
    flex: 1;
    overflow-y: auto; /* Allow scrolling within columns */
}

.kanban-task {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
}

.kanban-task-title {
    font-weight: bold;
}

.kanban-task-due {
    font-size: 0.8em;
    color: #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.close-btn {
    float: right;
    font-size: 1.2em;
    cursor: pointer;
}

.scroll-button {
    cursor: pointer;
    font-size: 2em;
    background: none;
    border: none;
    color: #888;
    margin: 0 10px;
}








