body {
    font-family: 'Lato', sans-serif;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    min-height: 80vh;
}

.logo-container {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
}

.logo-container img {
    width: 500px; 
}

.header-container {
    text-align: center;
}

.header-container h2 {
    margin: 0;
    color: #3c1272;
    font-weight: 700;
}

.features-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

.feature-column {
    width: 45%;
    margin-bottom: 30px;
}

.feature-column ul {
    padding-left: 20px;
}

.feature-column li {
    margin-bottom: 10px;
    color: #3c1272;
    list-style-type: disc;
    font-weight: 400; 
}

.container {
    background-color: #f7f9fb;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06), 4px 0 6px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.06);
    max-width: 600px;
    width: 100%;
    margin-top: 20px; 
    box-sizing: border-box;
}

.login-section {
    width: 100%;
}

.login-section h2 {
    margin-top: 0;
    color: #474747;
    text-align: center;
    font-weight: 700;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #474747;
    font-weight: 400; 
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f9fb;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me label {
    margin-right: 10px;
    white-space: nowrap;
    font-weight: 400; 
}

.remember-me input {
    margin: 0;
}

.btn {
    background-color: #3c1272;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: 700; 
}

.btn:hover {
    background-color: #2e015e;
}

.auth-links {
    margin-top: 20px;
}

.auth-links a {
    color: #3c1272;
    text-decoration: none;
    font-weight: 400; 
}

.auth-links a:hover {
    text-decoration: underline;
}

.auth-links .sign-up-link {
    margin-top: 10px;
    display: block;
}

/* Media Queries */
@media (max-width: 1024px) and (min-width: 768px) {
    body {
        background: url('/static/images/background2.jpg') no-repeat center right fixed;
        background-size: cover;
    }

    .logo-container {
        margin-top: 80px; 
        margin-bottom: 40px; 
    }

    .header-container {
        margin-top: 40px; 
        margin-bottom: 30px;
    }

    .features-section {
        margin-top: 30px; 
        margin-bottom: 20px; 
    }

    .container {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .logo-container {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .logo-container img {
        width: 300px;
    }

    .header-container {
        margin-bottom: 20px;
    }

    .features-section {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .feature-column {
        width: 80%;
        margin-bottom: 0;
    }

    .feature-column ul {
        padding-left: 0;
    }

    .feature-column li {
        margin-bottom: 5px;
    }

    .feature-column + .feature-column {
        margin-top: -20px; 
    }

    .container {
        margin-top: 10px;
    }

    body {
        background: url('/static/images/background1.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

@media (max-width: 480px) {
    .logo-container {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .logo-container img {
        width: 200px;
    }

    .header-container {
        margin-bottom: 15px;
    }

    .features-section {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .feature-column {
        width: 90%;
        margin-bottom: 0;
    }

    .feature-column ul {
        padding-left: 0;
    }

    .feature-column li {
        margin-bottom: 5px;
    }

    .feature-column + .feature-column {
        margin-top: -25px; 
    }

    .container {
        margin-top: 10px;
    }

    body {
        background: url('/static/images/background3.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}


















