/* General styles */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.collapse {
    flex-grow: 0;
}

.navbar-collapse {
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
}

/* Avatar and profile images */
.navbar-avatar, .profile-avatar {
    border-radius: 50%; /* Make the image a circle */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.navbar-avatar {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Ensure width and height are the same */
}

/* Larger profile avatar in profile modal */
.profile-avatar {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Ensure width and height are the same */
}

/* Static styles */
#messages {
    position: fixed;
    top: 70px; /* Adjust this value if your navbar height is different */
    right: 10px;
    width: auto;
    z-index: 1060; /* Ensure this is higher than the navbar's z-index and other elements */
}

.alert {
    margin-bottom: 10px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}

/* CSS for rounded profile avatars */
.profile-avatar {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
}


