<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/32x32favi.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/16x16favi.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'kanban:index' %}">Kanban</a>
        <a href="{% url 'notes:index' %}">Notes</a>
        <a href="{% url 'calendar_app:index' %}">Calendar</a>
        <a href="{% url 'account_logout' %}">Logout</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

