body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    max-width: 90%;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.welcome-section, .login-section {
    width: 48%;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section form .form-group {
    margin-bottom: 15px;
}

.login-section form .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-section form .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.links {
    margin-top: 10px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
