/* General styles */
body {
    font-family: 'Lato', Arial, sans-serif;
}

/* Hide dark mode logo in light mode */
.logo-dark {
    display: none;
}

/* Show light mode logo in light mode */
.logo-light {
    display: inline;
}

.navbar {
    background-color: #e6e6ea;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Remove hover effect from logo and profile avatar */
.navbar-brand img,
.navbar-avatar {
    transition: none !important;
}



.navbar-brand img {
    height: 40px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2833, 37, 41, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.collapse {
    flex-grow: 0;
}

.navbar-collapse {
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
}

/* Dropdown styles */
.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #000; 
}

.dropdown-item:hover {
    background-color: #f0f0f0; 
    color: black;
}

/* Avatar and profile images */
.navbar-avatar, .profile-avatar {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.navbar-avatar {
    width: 40px;
    height: 40px;
}

/* Larger profile avatar in profile modal */
.profile-avatar {
    width: 100px;
    height: 100px;
}

/* Static styles */
#messages {
    position: fixed;
    top: 70px;
    right: 10px;
    width: auto;
    z-index: 1060;
}

.alert {
    margin-bottom: 10px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}

/* CSS for rounded profile avatars */
.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.list-group-item {
    background-color: transparent !important;
    border: none !important;
}

.kanban-task-title {
    color: #fff;
}

.priority-done {
    background: url("/static/images/apple-touch-icon.png") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
}

/* Modal styling */
.modal-content {
    font-family: 'Lato', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
}

.modal-title {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
    color: #333;
}

.btn-close {
    filter: brightness(0) invert(1);
}

.modal-body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* Stylish form inside modals */
.modal-content .form-control,
.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="email"],
.modal-content input[type="number"],
.modal-content input[type="search"],
.modal-content input[type="tel"],
.modal-content input[type="url"],
.modal-content input[type="file"],
.modal-content select,
.modal-content textarea {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content .form-control::placeholder,
.modal-content input::placeholder,
.modal-content textarea::placeholder {
    color: #999999;
}

/* Kanban task and column styles */
.kanban-task .btn {
    width: 23%;
    display: inline-block;
}

.kanban-column {
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
}

/* Media queries for small devices */
@media (max-width: 600px) {
    .modal-content {
        width: 80%;
        margin: auto;
    }

    .navbar-brand, .navbar-toggler {
        display: flex;
        align-items: center;
    }

    .navbar-avatar {
        margin-left: 10px;
    }

    .button-container .btn {
        width: 100%;
    }
}
